/autom4te.cache
/config.h.in
/configure
/aclocal.m4
/config.h
/config.log
/config.status
/stamp-h1
/Makefile
/Makefile.in
/build/compile
/build/depcomp
/build/install-sh
/build/missing
/src/Makefile
/src/Makefile.in
/src/sprite-player

*.o
.deps
